@import 'src/base-styles/dependencies';

.productDescription {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &.isInsideHome {
    margin-top: 6px;

    .productDescription {

      &__pricingGroup {
        display: flex;
        min-width: 8.4rem;
        margin-top: 8px;

        @include mq-min(md) {
          min-width: 2.8rem;
        }
      }

      &__name {
        font-size: 14px;

        @include mq-min(md) {
          font-size: 16px;
        }
      }
    }
  }
  &.isInsideProduct {
    .productDescription {
      &__name {
        margin-bottom: 12.2px;
        font-size: 16px;
      }

      &__pricingGroup {
        display: flex;
        flex-direction: column;
      }

      &__actual {
        margin-bottom: 11px;
        font-size: 16px;
      }
    }
  }
  &.isInsideCart {
    // @include mq-min(md) {
    //   flex-direction: row;
    //   justify-content: space-between;
    //   align-items: flex-start;
    // }
    .productDescription {
      &__actual {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 10px 0;
      }

      &__price--actual {
        margin-bottom: 11px;
        font-size: 16px;
      }
    }
  }
  &__pricingGroup,
  &__name {
    display: contents;
    line-height: 16px;
    font-size: 16px;
  }

  &__name {
    font-family: $title-display-Regular;
    font-weight: 400;
    margin-bottom: 0.5em;
  }

  &__price {
    font-weight: 400;
    &--actual {
      font-weight: 700;
      margin-right: 0.562em;
    }
  }
  &__installments {
    color: $secondary;
  }
}
