@import 'src/base-styles/dependencies';

span {
  display: inline-block;
}

p {
  margin-top: 0;
}

.productCartDescription {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &.isInsideHome {
    .productCartDescription__pricingGroup {
      display: flex;
    }
  }
  &.isInsideProduct {
    .productCartDescription {
      &__name {
        margin-bottom: 12.2px;
        font-size: 16px;
      }
      &__pricingGroup {
        display: flex;
        flex-direction: column;
      }
      &__actual {
        margin-bottom: 11px;
        font-size: 16px;
      }
    }
  }
  &.isInsideCart {
    // @include mq-min(md) {
    //   flex-direction: row;
    //   justify-content: space-between;
    //   align-items: flex-start;
    // }
    .productCartDescription {
      &__actual {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 10px 0;
      }
      &__price--actual {
        margin-bottom: 11px;
        font-size: 16px;
      }
    }
  }
  &__pricingGroup,
  &__name {
    display: contents;
    line-height: 16px;
    font-size: 16px;
  }
  &__name {
    font-family: $title-display-Regular;
    font-weight: 400;
    margin-bottom: 0.5em;
  }

  &__reg {
    display: flex;
    justify-content: flex-start;
  }
  &__price {
    font-weight: 400;
    &--reg {
      text-decoration: line-through;
      color: $color-icon;
      display: flex;
      justify-content: flex-start;
    }
    &--actual {
      font-weight: 700;
      margin-right: 0.562em;
    }
  }
  &__installments {
    color: $secondary;
  }
  &__discountPercent {
    color: $color-icon;
    margin-left: 0.5em;
  }
}
