// Cores principais
$white: #fff;

$primary-light: #484848;
$primary: #212121;
$primary-dark: #000;

$secondary-light: #9a67ea;
$secondary: #673ab7;
$secondary-dark: #320b86;

// Composições de Background
$bg-color-header: #212121;
$bg-color-secondary: #C4C4C4;

// Font colors
$card-description-default: #000000;
$card-description-secondary: #717171;

//Highlight discount
$translucid-purple: rgba(50, 11, 134, 0.5);

// Borda
// $border-color: #DBDBDB;
$border-primary: #E5E5E5;

// Font colors
$color-icon: #717171;
$warning: #B73A3A;

// Sombras
$ghost: #eee;
$shadow: rgba(0, 0, 0, 0.4);
