// Cores principais
$white: #ffffff;

$primary-light: #484848;
$primary: #212121;
$primary-dark: #000000;

$secondary-light: #9a67ea;
$secondary: #673ab7;
$secondary-dark: #320b86;

// Composições de Background
$bg-color-header: #212121;

// Font colors
$card-description-default: #000000;
$card-description-secondary: #717171;

//Highlight discount
$translucid-purple: rgba(50, 11, 134, 0.5);

// Borda
// $border-color: #DBDBDB;

// Font colors
$color-icon: #717171;

// Sombras
$ghost: #eeeeee;
$shadow: rgba(0, 0, 0, 0.4);