#inputSearch {
  align-items: center;
  display: flex;
  margin-right: 2vh;

  input {
    background-color: #eeeeee;
    border: none;
    height: 28px;
    padding: 0 5px;

    &:focus {
      outline: none;
    }
  }

  button {
    background-color: #eeeeee;
    border: none;
    color: #717171;
    cursor: pointer;
    height: 28px;

    .fa-search {
      font-size: 20px;

      &:focus {
        outline: none;
      }
    }

    &:focus {
      outline: none;
    }
  }
}

.mobileSearchContainer {
  background-color: #717171;
  box-sizing: border-box;
  display: flex;
  height: 10vh;
  justify-content: center;
  left: 0;
  padding: 0 10px;
  position: absolute;
  top: 10vh;
  width: 100%;

  #inputSearch {
    margin: 0;

    input {
      width: 70vw;
    }
  }
}

.mobileSearchBtn {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.5em;
  position: relative;
}

.productsList {
  background-color: azure;
  list-style: none;
  padding: 12px;
  position: absolute;
  top: 35px;
}
