#inputSearch {
  /* Positioning */
  margin-right: 2vh;
  /* Display & Box Model */
  align-items: center;
  display: flex;
}
#inputSearch input {
  /* Positioning */
  height: 28px;
  /* Display & Box Model */
  border: none;
  padding: 0 5px;
  /* Color */
  background-color: #eeeeee;
}
#inputSearch input:focus {
  outline: none;
}
#inputSearch button {
  /* Positioning */
  height: 28px;
  /* Display & Box Model */
  border: none;
  /* Color */
  background-color: #eeeeee;
  color: #717171;
  /* Other */
  cursor: pointer;
}
#inputSearch button .fa-search {
  /* Text */
  font-size: 20px;
}
#inputSearch button .fa-search:focus {
  outline: none;
}
#inputSearch button:focus {
  outline: none;
}

.mobile-search-container {
  /* Positioning */
  left: 0;
  position: absolute;
  top: 10vh;
  /* Display & Box Model */
  box-sizing: border-box;
  display: flex;
  height: 10vh;
  justify-content: center;
  padding: 0 10px;
  width: 100%;
  /* Color */
  background-color: #717171;
}
.mobile-search-container #inputSearch {
  /* Display & Box Model */
  margin: 0;
}
.mobile-search-container #inputSearch input {
  width: 70vw;
}

.mobile-search-btn {
  /* Positioning */
  position: relative;
  /* Display & Box Model */
  border: none;
  /* Color */
  background: transparent;
  color: white;
  /* Text */
  font-size: 1.5em;
}
