@import "src/base-styles/dependencies";

@media (max-width: $md) {
  .cart__container {
    height: 190%;
    left: 0;
    position: fixed;
    visibility: hidden;
    width: 100%;

    &.cart__container--display {
      background-color: $shadow;
      visibility: visible;
    }

    .cart__container--active {
      background-color: $white;
      height: 94%;
      position: fixed;
      right: 3vh;
      top: 3vh;
      visibility: visible;
      width: 90%;
    }
  }
}

@media (min-width: $md) {
  .cart__container {
    height: 90vh;
    position: fixed;
    right: 0;
    top: 10vh;
    transition: width 0.5s linear;
    visibility: hidden;
    width: 0;

    -webkit-transition: width 0.5s linear;
    -moz-transition: width 0.5s linear;
    -ms-transition: width 0.5s linear;
    -o-transition: width 0.5s linear;

    &.cart__container--display {
      display: flex;
      justify-content: flex-end;
      visibility: visible;
      width: 100%;
    }

    .cart__container--active {
      background-color: $white;
      width: 50%;
    }
  }
}

@media (min-width: $lg) {
  .cart__container {
    .cart__container--active {
      width: 37.5em;
    }
  }
}
