@import 'src/base-styles/dependencies';

.cart__container {
  @media (min-width: $md) {
    position: fixed;
    right: 0;
    visibility: hidden;
    width: 0;
  }

  @media (max-width: $md) {
    left: 0;
    position: fixed;
    visibility: hidden;
    width: 100%;
  }

  &.cart__container--display {
    background-color: $shadow;
    bottom: 0;
    height: 100%;
    visibility: visible;

    @media (min-width: $md) {
      display: flex;
      justify-content: flex-end;
      visibility: visible;
      width: 100%;
    }
  }

  .cart__container--active {
    background-color: $white;
    height: 100%;
    max-width: 400px;
    opacity: 1;
    padding-top: 11px;
    position: fixed;
    right: 0;
    top: 0;
    transition: width 0.5s linear;
    visibility: visible;
    width: 40%;
    z-index: 105;

    -webkit-transition: width 0.5s linear;
    -moz-transition: width 0.5s linear;
    -ms-transition: width 0.5s linear;
    -o-transition: width 0.5s linear;

    @media (max-width: $sm) {
      position: fixed;
      right: 8vh;
      top: 3vh;
      visibility: visible;
      width: 90%;
      height: 92%;
      right: 4vh;
    }

    @media (max-width: $xs) {
      right: 3.1vh;
    }
  }

  &__button {
    background: transparent;
    border: none;
    color: $color-icon;
    cursor: pointer;
    font-size: 24px;
  }

  &__btnGroup {
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0 25px;
    position: absolute;
    right: 0;

    @media (min-width: $md) {
      width: 50%;
    }

    @media (min-width: $lg) {
      width: 40%;
    }

    @media (max-width: $md) {
      width: 100%;
    }

    @media (max-width: $xs) {
      flex-wrap: wrap;
      justify-content: center;
      padding: 15px 0 10px;
      right: unset;
      width: 100%;
    }

    @media (min-width: $xs) and (max-width: $sm) {
      width: 100%;
      right: unset;
      display: flex;
      padding: 15px 0;
    }
  }
}
