@import 'src/base-styles/dependencies';

.cart__container {
  position: fixed;
  right: 0;
  visibility: hidden;
  width: 100%;

  &--display {
    background-color: $shadow;
    bottom: 0;
    height: 100%;
    visibility: visible;
  }

  &--active {
    background-color: $white;
    height: 100%;
    max-width: 400px;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
    transition: width 0.5s linear;
    visibility: visible;
    width: 40%;
    z-index: 105;

    -webkit-transition: width 0.5s linear;
    -moz-transition: width 0.5s linear;
    -ms-transition: width 0.5s linear;
    -o-transition: width 0.5s linear;

    @media (max-width: $sm) {
      height: 92%;
      right: 5vw;
      top: 4vh;
      width: 90%;
    }

    @media (max-width: $xs) {
      right: 3.1vh;
    }
  }

  &__button {
    background: transparent;
    border: none;
    color: $color-icon;
    cursor: pointer;
    font-size: 24px;
  }
}
