@import 'src/base-styles/dependencies';

.cart__container {
  @media (min-width: $md) {
    height: 90vh;
    position: fixed;
    right: 0;
    top: calc(23% - 4.5rem);
    transition: width 0.5s linear;
    visibility: hidden;
    width: 0;

    -webkit-transition: width 0.5s linear;
    -moz-transition: width 0.5s linear;
    -ms-transition: width 0.5s linear;
    -o-transition: width 0.5s linear;
  }

  @media (max-width: $md) {
    height: 190%;
    left: 0;
    position: fixed;
    visibility: hidden;
    width: 100%;
  }

  &.cart__container--display {
    @media (min-width: $md) {
      display: flex;
      justify-content: flex-end;
      visibility: visible;
      width: 100%;
    }

    @media (max-width: $md) {
      background-color: $shadow;
      visibility: visible;
    }
  }

  .cart__container--active {
    @media (min-width: $md) {
      background-color: $white;
      width: 50%;
    }

    @media (min-width: $lg) {
      width: 40%;
    }

    @media (max-width: $md) {
      background-color: $white;
      height: 94%;
      position: fixed;
      right: 3vh;
      top: 3vh;
      visibility: visible;
      width: 90%;
    }
  }

  &__button {
    background: transparent;
    border: none;
    color: $color-icon;
    cursor: pointer;
    font-size: 24px;
  }

  &__btnGroup {
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0 25px;
    position: absolute;
    right: 0;

    @media (min-width: $md) {
      width: 50%;
    }

    @media (min-width: $lg) {
      width: 40%;
    }

    @media (max-width: $xs) {
      flex-wrap: wrap;
      justify-content: center;
      padding: 15px 0 10px;
      right: unset;
      width: 100%;
    }
  }
}
