@import "src/base-styles/dependencies";

.home {
  align-items: center;
  background-color: $secondary-dark;
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  min-height: 90vh;
  text-align: center;
  width: 100%;
}
