@import 'src/base-styles/dependencies';

.home {
  /* Positioning */
  margin-top: 10vh;
  min-height: 90vh;

  /* Display & Box Model */
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;

  /* Color */
  background-color: var(--secondary-dark);

  /* Text */
  text-align: center;
}
