@import 'src/base-styles/dependencies';

a {
  color: $card-description-default;
  text-decoration: none;
  display: grid;
  grid-template-rows: 70% 30%;
  height: 100%;
}

.home {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: space-evenly;

  @include mq-max(md) {
    justify-content: space-between;
    grid-template-columns: 45% 45%;
  }
}

.productContainer {
  height: 100%;
  position: relative;

  @include mq-min(md) {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}
