@import 'src/base-styles/dependencies';

a {
  color: $card-description-default;
  text-decoration: none;
}

.home {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: space-evenly;
}

.productContainer {
  margin-bottom: 32px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  position: relative;
}
