@import 'src/base-styles/dependencies';

.page {
  background-color: $white;
  margin: 10vh 0 4.5rem 0;
  min-height: calc(90vh - 6.5rem);
  padding: 1rem;

  @include mq-min(md) {
    padding: 3rem 4rem;
    min-height: calc(90vh - 10.5rem);
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
  }
}

.hero + .page {
  margin-top: 0;
}
