@import 'src/base-styles/dependencies';

.header {
  /* Positioning */
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;

  /* Display & Box Model */
  align-items: center;
  background: $bg-color-header;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.28);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0 18px;

}

.teste {
  /* Color */
  color: red($color: #000000);
}

@media (min-width: $md) {
  .header {
    /* Display & Box Model */
    padding: 0 36px;
  }
}
