@import "src/base-styles/dependencies";

.cartModal {
  &__header {
    background-color: $bg-color-secondary;
    display: flex;
    justify-content: space-between;
  }
  &__item {
    height: 10px;
    padding-bottom: 1em;
    border-bottom: $border-primary;
  }
  &__removeItemBtn {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
    background-color: transparent;
    color: $warning;
  }
}
