@import 'src/base-styles/dependencies';

.cart__container {
  /* Positioning */
  position: fixed;
  right: 0;
  top: 10vh;

  /* Display & Box Model */
  height: 90vh;
  width: 0;

  /* Color */
  background-color: white;
}

@media (min-width: $md) {
  .cart__container {
    -webkit-transition: width 0.5s linear;
        -moz-transition: width 0.5s linear;
         -ms-transition: width 0.5s linear;
          -o-transition: width 0.5s linear;
             transition: width 0.5s linear;

    &.cart__container--active-true {
      /* Display & Box Model */
      width: 50%;
    }

    &.cart__container--active-false {
      /* Display & Box Model */
      width: 0;
    }
  }
}
