@import 'src/base-styles/dependencies';

figure {
  margin: 0;
}

/* Tamanho da caixa da foto para a página onde temos diversas fotos de produto */
.product--navegation {
  width: 40%;
}

/* Tamanho da caixa da foto para a página de detalhe do produto */
.product--detail {
  width: 100%;
  position: absolute;
  top: 65px;
}

/* Tamanho da caixa da foto para a página do carrinho */
.product--cart {
  width: 30%;
}

img {
  max-width: 100%;
  cursor: pointer;
}