@import 'src/base-styles/dependencies';

figure {
  margin: 0;
}

img {
  max-width: 100%;
  cursor: pointer;
}

.product {
  &__navegation {
    width: 40%;
  }

  &__detail {
    width: 100%;
    position: absolute;
    top: 60px;
  }

  &__cart {
    width: 30%;
  }
}

@media (min-width: $md) {
  .product {
    &__navegation {
      width: 26%;
    }

    &__cart {
      width: 35%;
    }
  }
}

@media (min-width: $xl) {
  .product {
    &__navegation {
      width: 21%;
    }

    &__cart {
      width: 40%;
    }
  }
}