@import 'src/base-styles/dependencies';

img {
  max-width: 100%;
  cursor: pointer;
}

.product {

  &__detail {
    width: 100%;
    position: absolute;
    top: 60px;
  }

  &__cart {

    figure {
      margin: 0;
      width: 8.37em;

      @include mq-min(md) {
        width: 35%;
      }

      @include mq-min(xl) {
        width: 40%;
      }
    }
  }
}