@import 'src/base-styles/dependencies';

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

// .product {
//   &__navegation {
//     width: 40%;

//     @include mq-min(md) {
//       width: 26%;
//     }

//     @include mq-min(xl) {
//       width: 21%;
//     }
//   }

//   &__detail {
//     width: 100%;
//     position: absolute;
//     top: 60px;
//   }

//   &__cart {
//     width: 30%;

//     @include mq-min(md) {
//       width: 35%;
//     }
  &__cart {
    // width: 30%;
    width: 8.37em;

//     @include mq-min(xl) {
//       width: 40%;
//     }
//   }
// }

.productImage {
  position: relative;
  overflow: hidden;
  width: 100%;

  &__badge {
    background-color: $translucid-purple;
    bottom: 0;
    box-sizing: border-box;
    color: $white;
    display: inline-block;
    font-weight: bold;
    margin: 0;
    padding: 0.3rem;
    position: absolute;
    right: 0;
    width: 100%;
  }

  &--empty {
    align-items: center;
    color: $ghost;
    display: flex;
    justify-content: center;
    font-size: 60px;
  }
}
