@import 'src/base-styles/dependencies';

figure {
  margin: 0;
}

img {
  max-width: 100%;
  cursor: pointer;
}

.product {
  &__navegation {
    width: 40%;

    @include mq-min(md) {
      width: 26%;
    }

    @include mq-min(xl) {
      width: 21%;
    }
  }

  &__detail {
    width: 100%;
    position: absolute;
    top: 60px;
  }

  &__cart {
    width: 30%;

    @include mq-min(md) {
      width: 35%;
    }

    @include mq-min(xl) {
      width: 40%;
    }
  }
}
